<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nhacks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C205A1511EF57C6400F4D886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C205A1681EF57C6400F4D886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C205A1731EF57C6400F4D886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
